@page
@model AddRazorPages.Pages.StatusCodes._404Model
@{
    Layout = null;
}

<!DOCTYPE html/>
<html>
<head>
    <title>Not found</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    404 DEMO PAGE
</body>
</html>
